@mixin adf-colors-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .adf-primary-color {
        color: mat-color($primary) !important;
    }

    .adf-accent-color {
        color: mat-color($accent) !important;
    }

    .adf-warn-color {
        color: mat-color($warn) !important;
    }

    .adf-dialog-background-color {
        background: mat-color($background, dialog) !important;
    }

    .adf-primary-background-color {
        color: mat-color($primary, default-contrast) !important;
        background: mat-color($primary) !important;
    }

    .adf-accent-background-color {
        color: mat-color($accent, default-contrast) !important;
        background: mat-color($accent) !important;
    }

    .adf-primary-contrast-text-color {
        color: mat-color($primary, default-contrast) !important;
    }

    .adf-accent-contrast-text-color {
        color: mat-color($accent, default-contrast) !important;
    }
}

@mixin adf-default-class-theme($theme) {

    .adf-hide-small {
        @media screen and ($mat-small) {
            display: none !important;
        }
    }

    .adf-hide-xsmall {
        @media screen and ($mat-xsmall) {
            display: none !important;
        }
    }
}

/*** IMPORTED FILE NOT FOUND ***/
@import '~@angular/material/theming';/*** --- ***/
/*** IMPORTED FILE NOT FOUND ***/
@import '~@angular/flex-layout/mq';/*** --- ***/

// Accent color palette
$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
$black-12-opacity: rgba(black, 0.12);
$white-12-opacity: rgba(white, 0.12);
$black-6-opacity: rgba(black, 0.06);
$white-6-opacity: rgba(white, 0.06);

$alfresco-ecm-cyan: (
    50: #e0f7fa,
    100: #b2ebf2,
    200: #80deea,
    300: #4dd0e1,
    400: #26c6da,
    500: #00bcd4,
    600: #00acc1,
    700: #0097a7,
    800: #00838f,
    900: #006064,
    A100: #84ffff,
    A200: #18ffff,
    A400: #00e5ff,
    A700: #00b8d4,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);

$alfresco-dev-teal: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc4,
    300: #4db6ac,
    400: #26a69a,
    500: #009688,
    600: #00897b,
    700: #00796b,
    800: #00695c,
    900: #004d40,
    A100: #a7ffeb,
    A200: #64ffda,
    A400: #1de9b6,
    A700: #00bfa5,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);

$alfresco-ecm-blue: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #2196f3,
    600: #1e88e5,
    700: #1976d2,
    800: #1565c0,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$alfresco-bpm-green: (
    50: #f1f8e9,
    100: #dcedc8,
    200: #c5e1a5,
    300: #aed581,
    400: #9ccc65,
    500: #8bc34a,
    600: #7cb342,
    700: #689f38,
    800: #558b2f,
    900: #33691e,
    A100: #ccff90,
    A200: #b2ff59,
    A400: #76ff03,
    A700: #64dd17,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: $black-87-opacity,
        700: $black-87-opacity,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);

$alfresco-warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$alfresco-accent-purple: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: $white-87-opacity,
    )
);

$alfresco-accent-orange: (
    50: #fff3e0,
    100: #ffe0b2,
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #ff9800,
    600: #fb8c00,
    700: #f57c00,
    800: #ef6c00,
    900: #e65100,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: black,
    )
);



/* ANIMATION */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$swift-ease-in-duration: 300ms !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;



@mixin adf-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin typo-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@mixin material-animation-default($duration: 0.2s) {
    transition-duration: $duration;
    transition-timing-function: $animation-curve-default;
}

@mixin adf-line-clamp($line-height: 1.25, $lines: 3) {
    position: relative;
    line-height: $line-height;
    padding: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;

    @supports (-webkit-line-clamp: 1) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $lines;
        height: calc(0.99em * #{$line-height} * #{$lines});
    }

    @supports not (-webkit-line-clamp: 1) {
        white-space: nowrap;
        width: 100%;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
    min-height: 0;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

/*** IMPORTED FILE NOT FOUND ***/
@import '~@angular/material/theming';/*** --- ***/

$alfresco-typography: mat-typography-config(
    $font-family: 'Muli, Roboto, "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(16px, 1.25, 400)
);




@mixin adf-card-view-dateitem-theme($theme) {

    .adf {
        &-invisible-date-input {
            height: 2px;
            width: 0;
            overflow: hidden;
            opacity: 0;
            border: none;
            margin: 0;
            padding: 0;
            float: right;
        }

        &-dateitem-editable {
            cursor: pointer;

            &-controls {
                display: flex;
                align-items: center;
                justify-content: space-between;

                button.mat-icon-button {
                    line-height: 20px;
                    height: 20px;
                    width: 20px;
                }

                mat-icon {
                    width: 16px;
                    height: 16px;
                    opacity: 0.5;
                }

                &:hover mat-icon {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin adf-card-view-textitem-theme($theme) {
    $foreground: map-get($theme, foreground);

    .adf {
        &-textitem-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            position: relative;
            top: 4px;
            padding-left: 8px;
            opacity: 0.3;
        }

        &-update-icon {
            padding-left: 13px;
        }

        &-textitem-readonly {
            cursor: pointer !important;

            &:hover mat-icon {
                opacity: 1;
            }
        }

        &-textitem-clickable {
            &:hover mat-icon {
                opacity: 1;
            }
        }

        &-textitem-clickable-value {
            cursor: pointer !important;
            color: mat-color($primary);
        }

        &-textitem-editable {

            &-controls {
                display: flex;

                mat-icon:not(.adf-button-disabled):hover {
                    opacity: 1;
                    cursor: pointer !important;;
                }

                mat-form-field {
                    width: 100%;
                }

                input:focus,
                textarea:focus {
                    border: 1px solid mat-color($foreground, text, 0.15);
                }
            }

            &-error {
                font-size: 12px;
                padding-top: 4px;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        &-textitem-default-value {
            color: mat-color($foreground, text, 0.54);
        }

        &-textitem-editable .mat-form-field-wrapper {
            margin: 0;
            padding-bottom: 0;
        }

        &-textitem-editable .mat-form-field-underline {
            display: none;
        }

        &-textitem-editable .mat-form-field-infix {
            padding: 0;
            border-top: none;
        }

        &-textitem-editable .mat-form-field-label-wrapper {
            padding-top: 2em;
            position: static;
        }

        &-textitem-editable .mat-form-field-label {
            top: 4px;
        }

        &-textitem-editable .mat-input-element {
            font-family: inherit;
            position: relative;
            padding-top: 6px;
        }

        &-textitem-editable .mat-input-element:focus {
            padding: 5px;
            left: -6px;
            top: 0;
        }

        &-textitem-editable input.mat-input-element {
            margin-bottom: 2px;
        }

        &-textitem-editable input.mat-input-element:focus {
            margin-bottom: -8px;
        }

        &-textitem-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }
    }

    .mat-button.adf-update-icon {
        min-width: 40px;
        line-height: 0;
        margin-top: -4px;
        padding: 0;
    }

}


@mixin adf-card-view-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    .adf-property-list {
        .adf-property {
            margin-bottom: 20px;

            .adf-property-label {
                font-size: 12px;
                color: mat-color($foreground, text, 0.4);
                word-wrap: break-word;
            }

            .adf-property-value {
                font-size: 14px;
                color: mat-color($foreground, text, 0.87);
            }
        }
    }
}

/*** IMPORTED FILE NOT FOUND ***/
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';/*** --- ***/

@mixin adf-card-view-module-theme($theme) {
    @include adf-card-view-dateitem-theme($theme);
    @include adf-card-view-textitem-theme($theme);
    @include adf-card-view-theme($theme);
    @include mat-datetimepicker-theme($theme);
}

@mixin adf-datatable-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    $data-table-font-size: 14px !default;
    $data-table-header-font-size: 12px !default;
    $data-table-header-sort-icon-size: 16px !default;
    $data-table-header-color: mat-color($foreground, text) !default;
    $data-table-header-sorted-color: mat-color($foreground, text) !default;
    $data-table-header-sorted-icon-hover-color: mat-color($foreground, disabled-text) !default;
    $data-table-cell-text-color: mat-color($foreground, text) !default;
    $data-table-cell-link-hover-color: mat-color($alfresco-ecm-blue, 500) !default;
    $data-table-cell-outline: 1px solid mat-color($alfresco-ecm-blue, A200) !default;
    $data-table-divider-color: mat-color($foreground, text, 0.07) !default;
    $data-table-hover-color: mat-color($background, 'hover') !default;
    $data-table-selection-color: mat-color($background, 'selected-button') !default;
    $data-table-dividers: 1px solid $data-table-divider-color !default;
    $data-table-dividers-edge-row: $data-table-dividers !default;
    $data-table-dividers-wrapper-border: $data-table-dividers !default;
    $data-table-row-height: 56px !default;
    $data-table-column-spacing: 36px !default;
    $data-table-column-padding: $data-table-column-spacing / 2;
    $data-table-card-padding: 24px !default;
    $data-table-cell-top: $data-table-card-padding / 2;
    $data-table-drag-border: 1px dashed mat-color($alfresco-ecm-blue, A200);
    $data-table-thumbnail-width: 50px !default;
    $data-table-cell-min-width: 50px !default;
    $data-table-cell-min-width--no-grow: 100px !default;
    $data-table-cell-min-width--fileSize: $data-table-cell-min-width !default;

    .adf-datatable {
        overflow-y: scroll;
        height: 100%;
    }

    .adf-datatable-card {
        border: 1px solid mat-color($foreground, divider);

        .adf-datatable-body {
            flex-flow: row wrap;
            display: flex;

            width: 100%;

            justify-content: space-evenly;
            align-content: flex-start;
            align-items: flex-start;

            .adf-datatable-row {
                transition: all 0.3s ease;
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 0 1 24%;

                width: 288px !important;
                max-width: 288px !important;
                min-width: 288px !important;

                height: 200px;

                overflow: hidden !important;
                margin: 6px;
                padding: 15px;

                @include mat-elevation-transition;
                @include mat-overridable-elevation(2);
            }

            .adf-datatable-row-empty-card {
                height: 0 !important;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            .adf-is-selected {
                background: mat-color($primary, 100);
                padding-bottom: 31px;
            }

            .adf-datatable-card-permission {
                width: 100%;
                min-height: 250px;

                .adf-datatable-cell {
                    height: 240px !important;
                }
            }

            .adf-datatable-card-loading {
                width: 100%;
                min-height: 250px;

                .adf-datatable-cell {
                    height: 240px !important;
                }
            }

            .adf-datatable-card-empty {
                width: 100%;
                min-height: 380px;

                .adf-datatable-cell {
                    height: 370px !important;
                }
            }

            .adf-datatable-cell {
                text-align: left;
                flex: 0 1 24%;
                height: 136px !important;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                outline: none;

                &::before {
                    margin-left: 10px;
                    text-align: left;
                    content: attr(title);
                    color: mat-color($foreground, text, 0.4);
                    float: left;
                    width: 140px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

            }

            .adf-datatable__actions-cell {
                position: absolute;
                height: 42px !important;
                width: 42px !important;
                right: 0;
            }

            .adf-image-table-cell {
                margin: 8px;
                padding: 4px;
                overflow: visible;
                border-bottom: 1px solid mat-color($foreground, divider);

                .adf-datatable-cell-container {
                    float: left;
                    width: 42px;
                }

                &::after {
                    margin: 2px;
                    content: attr(filename);
                    float: left;
                    width: 140px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .adf-datatable-checkbox {
                margin: 8px;
            }

        }

        .adf-datatable-header {
            margin-right: 18px;
            float: right;
        }

    }

    .adf-datatable-list {
        display: flex;
        flex-direction: column;
        background-color: mat-color($background, card);
        border: $data-table-dividers-wrapper-border;
        box-sizing: border-box;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
            .adf-datatable-center-size-column-ie {
                padding-top: 17px;
            }

            .adf-datatable-center-actions-column-ie {
                padding-top: 7px !important;
            }

            .adf-datatable-center-date-column-ie {
                position: relative !important;

                .adf-datatable-cell-value {
                    width: 100%;
                }
            }

            .adf-datatable-center-img-ie {
                padding:0;
                min-width: 0;
                width: 24px;
                height: 56px;
            }
        }

        .adf-datatable-header {
            display: flex;
            flex-direction: column;
        }

        .adf-datatable-cell {
            color: $data-table-cell-text-color;
        }

        .adf-datatable-body {
            display: flex;
            flex-direction: column;
            background-color: inherit;

            .adf-datatable-row {
                @include material-animation-default(0.28s);
                transition-property: background-color;
                border-top: $data-table-dividers;
                min-height: $data-table-row-height;
                cursor: pointer;

                @include adf-no-select;

                &:hover, &:focus {
                    background-color: $data-table-hover-color;
                }

                &.adf-is-selected, &.adf-is-selected:hover {
                    background-color: $data-table-selection-color;
                }

                &:last-child {
                    border-bottom: $data-table-dividers-edge-row;
                }
            }
        }

        .adf-datatable-row {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            .adf-datatable-checkbox {
                max-width: $data-table-thumbnail-width;
                width: $data-table-thumbnail-width;
            }

            /* query for Microsoft IE 11*/
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                .adf-datatable-checkbox {
                    padding-top: 15px;
                }
            }
        }

        .adf-datatable-cell, .adf-datatable-cell-header {
            text-align: left;
            box-sizing: border-box;
            min-width: $data-table-cell-min-width;

            &--text {
                text-align: left;
                position: relative;
            }

            &--date {
                text-align: left;
            }

            &--number {
                text-align: right;
            }

            &--image {
                padding-left: 24px;
                padding-right: 24px;
                width: $data-table-thumbnail-width;
                min-width: $data-table-thumbnail-width;
                text-align: left;
            }

            &--fileSize {
                min-width: $data-table-cell-min-width--fileSize;
            }
        }

        .adf-datatable-cell-header {
            @include adf-no-select;
            cursor: pointer;
            position: relative;
            vertical-align: bottom;
            text-overflow: ellipsis;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: 0;
            min-height: $data-table-row-height !important;
            font-size: $data-table-header-font-size;
            color: $data-table-header-color;
            padding-bottom: 8px;
            box-sizing: border-box;

            &.adf-sortable {
                @include adf-no-select;
                &:hover {
                    cursor: pointer;
                }
                padding-top: 12px;
                display: flex;
                align-items: center;
            }

            &.adf-datatable__header--sorted-asc,
            &.adf-datatable__header--sorted-desc {
                color: $data-table-header-sorted-color;
                &::before {
                    @include typo-icon;
                    font-size: $data-table-header-sort-icon-size;
                    content: '\e5d8';
                    left: 5px;
                    right: 5px;
                    position: relative;
                    vertical-align: sub;
                }
            }
            &.adf-datatable__header--sorted-desc::before {
                content: '\e5db';
            }
            &.adf-datatable-cell--fileSize.adf-datatable__header--sorted-asc::before,
            &.adf-datatable-cell--fileSize.adf-datatable__header--sorted-desc::before {
                left: -3px;
                right: -3px;
            }

            &.adf-datatable-checkbox {
                display: flex;
                align-items: center;
            }
        }

        .adf-datatable-cell-header.adf-expand-cell-1, .adf-datatable-cell.adf-expand-cell-1 {
            flex-grow: 1;
        }

        .adf-datatable-cell-header.adf-expand-cell-2, .adf-datatable-cell.adf-expand-cell-2 {
            flex-grow: 2;
        }

        .adf-datatable-cell-header.adf-expand-cell-3, .adf-datatable-cell.adf-expand-cell-3 {
            flex-grow: 3;
        }

        .adf-datatable-cell-header.adf-expand-cell-4, .adf-datatable-cell.adf-expand-cell-4 {
            flex-grow: 4;
        }

        .adf-datatable-cell-header.adf-expand-cell-5, .adf-datatable-cell.adf-expand-cell-5 {
            flex-grow: 5;
        }

        .adf-datatable-cell-header.adf-no-grow-cell, .adf-datatable-cell.adf-no-grow-cell {
            flex-grow: 0;
            min-width: $data-table-cell-min-width--no-grow;
        }

        .adf-datatable-cell, .adf-datatable-cell-header {
            flex: 1;
            padding: 0;
            align-items: center;
            display: flex;
            min-height: inherit;

            .adf-datatable-cell-container {
                overflow: hidden;
                min-height: inherit;
                align-items: center;
                display: flex;
            }

            .adf-datatable-cell-value {
                word-break: break-word;
                padding: 10px;
                display: block;

                @media screen and (-ms-high-contrast: active),
                screen and (-ms-high-contrast: none) {
                    padding: 17px 10px 10px;
                }
            }
            &--fileSize .adf-datatable-cell-value {
                padding: 0;
            }

            &:focus {
                outline-offset: -1px;
                outline: $data-table-cell-outline;
            }
        }

        .adf-cell-value {
            display: flex;
            min-height: inherit;
            align-items: center;
            word-break: break-all;
        }

        .adf-datatable__actions-cell, .adf-datatable-cell--image {
            max-width: $data-table-thumbnail-width;
            display: flex;
        }

        .adf-datatable-cell--image {
            max-width: $data-table-thumbnail-width;
        }

        .adf-location-cell {
            a {
                text-decoration: none;
                color: $data-table-cell-text-color;

                &:hover {
                    color: $data-table-cell-link-hover-color;
                    text-decoration: underline;
                }
            }
        }

        /* [Accessibility] For screen reader only */
        .adf-sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        .adf-is-selected {
            background: mat-color($primary, 100);
        }

        .adf-datatable-link {
            text-decoration: none;
            color: $data-table-cell-text-color;

            &:hover {
                color: $data-table-cell-link-hover-color;
                text-decoration: underline;
            }
        }

        .adf-dynamic-column .adf-datatable-link:hover {
            text-decoration: none;

            .adf-datatable-cell-value {
                text-decoration: underline;
            }
        }

        .adf-datatable-cell,
        .adf-datatable-cell-header {
            .adf-datatable-link .adf-datatable-cell-value {
                padding: 0 10px;
            }
        }

        .adf-ellipsis-cell {
            position: sticky;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &.adf-datatable-cell-header,
            .adf-datatable-content-cell {
                max-width: calc(100% - 0.1px);
                overflow: hidden;
                text-overflow: ellipsis;

                .adf-datatable-cell-value {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .adf-datatable-content-cell {
                overflow: unset;
                position: absolute;
            }

            /* query for Microsoft IE 11*/
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                .adf-cell-value {
                    top: 100%;
                }
            }

            /* cell stretching content */
            & > div::after {
                content: attr(title);
                overflow: hidden;
                height: 0;
                display: block;
            }
        }

        /* Empty folder */
        .adf-no-content-container {
            padding: 0 !important;
            border: none !important;
            width: 100%;

            & > img {
                width: 100%;
            }
        }

        /* Loading folder */
        .adf-loading-content-container {
            padding: 0 !important;
            width: 100%;

            & > img {
                width: 100%;
            }
        }

        .adf-no-permission {
            &__row:hover {
                cursor: default;
                background-color: inherit;
            }

            &__cell {
                padding: 0 !important;
            }
        }

         /* Utils */
        .adf-hidden {
            display: none;
        }

        /* mobile phone */
        @media all and (max-width: 768px) {
            .adf-desktop-only {
                display: none !important;
            }
        }

        @media (max-device-width: 768px) {
            .adf-desktop-only {
                display: none !important;
            }
        }

    }

    /* [Accessibility] Material checkbox labels */
    .adf-checkbox-sr-only .mat-checkbox-label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .adf-sticky-header {
        border-top: 0;
        height: 100%;

        .adf-datatable-header {
            display: block;
            margin-right: 0;
            border-top: $data-table-dividers;
            border-bottom: $data-table-dividers;
        }

        .adf-datatable-body {
            display: block;
            flex: 1;
            overflow-y: scroll;
            margin-top: -1px;
        }
    }

    .adf-upload__dragging {
        & > div {
            border-top: $data-table-drag-border !important;
            border-bottom: $data-table-drag-border !important;

            &:first-child {
                border-left: $data-table-drag-border;
            }

            &:last-child {
                border-right: $data-table-drag-border !important;
            }
        }
    }

    .adf-datatable--empty {
        @include flex-column;
        justify-content: center;
        align-items: center;
        height: inherit;

        .adf-datatable-body {
            .adf-datatable-row {
                height: 100%;
                background-color: mat-color($background, card);
                border: none !important;

                &:hover, &:focus {
                    background-color: unset;
                    cursor: default;
                }
            }
        }
    }
}


@mixin adf-form-container-widget-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .adf-hidden {
        display: none;
    }

    .adf-container-widget__header-text {
        border-bottom: 1px solid rgba(0, 0, 0, 0.87);
        padding-bottom: 10px;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE/Edge */
        -webkit-touch-callout: none;
        /* iOS Safari */
        &.adf-collapsible {
            cursor: pointer;
        }
    }

    .adf-field-list {
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: 100%;
    }

    container-widget {
        .adf-grid-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1%;
            margin-right: -1%;
        }

        .adf-grid-list-item {
            flex-grow: 1;
            box-sizing: border-box;
            padding-left: 1%;
            padding-right: 1%;
        }

        @media screen and ($mat-small) {
            .adf-grid-list-item {
                flex: 1 0 100%;
            }
        }

        .mat-form-field {
            width: 100%;
        }

        mat-form-field {
            width: 100%;
        }

        .mat-form-field-label-wrapper {
            top: 22px;
        }

        .mat-input-placeholder {
            top: 1.8em !important;
        }

        .mat-focused {

            label {
                transform: scaleX(1);
                transition: transform 150ms linear,
                background-color $swift-ease-in-duration $swift-ease-in-timing-function;
                color: mat-color($primary);
            }

            .mat-form-field-prefix {
                color: mat-color($primary);
            }
        }

        .mat-grid-tile {
            overflow: visible;
            width: 80%;
        }

    }
}

@mixin adf-form-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    @include adf-hyperlink-widget-theme($theme);

    ul > li > form-field > .adf-focus {
        .adf-label {
            color: mat-color($primary);
        }
    }

    .adf {

        &-error-text-container {
            height: 20px;
            margin-top: -12px;
        }

        &-error-text {
            padding: 1px;
            height: 16px;
            font-size: 12px;
            line-height: 1.33;
            float: left;
            color: mat-color($warn);
        }

        &-error-icon {
            float: right;
            font-size: 17px;
            color: mat-color($warn);
        }

        &-label {
            color: rgb(186, 186, 186);;
        }

        &-invalid {

            .mat-form-field-underline {
                background-color: #f44336 !important;
            }

            .adf-file {
                border-color: mat-color($warn);
            }

            .mat-form-field-prefix {
                color: mat-color($warn);
            }

            .adf-input {
                border-color: mat-color($warn);
            }

            .adf-label {
                color: mat-color($warn);
                &::after {
                    background-color: mat-color($warn);
                }
            }
        }
    }


    /* query for Microsoft IE 11*/
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        adf-form-field {
            .mat-input-element, .mat-select, .mat-form-field {
                display: block !important;
            }
        }
    }



}


@mixin adf-dynamic-table-theme($theme) {
    $foreground: map-get($theme, foreground);
    $dynamic-table-font-size: 14px !default;
    $dynamic-table-header-font-size: 12px !default;
    $dynamic-table-header-sort-icon-size: 16px !default;
    $dynamic-table-header-color: mat-color($foreground, text) !default;
    $dynamic-table-header-sorted-color: mat-color($foreground, text) !default;
    $dynamic-table-header-sorted-icon-hover-color: mat-color($foreground, disabled-text) !default;
    $dynamic-table-divider-color: mat-color($foreground, text, 0.07) !default;
    $dynamic-table-hover-color: #eeeeee !default;
    $dynamic-table-selection-color: #e0f7fa !default;
    $dynamic-table-dividers: 1px solid $dynamic-table-divider-color !default;
    $dynamic-table-row-height: 56px !default;
    $dynamic-table-column-spacing: 36px !default;
    $dynamic-table-column-padding: $dynamic-table-column-spacing / 2;
    $dynamic-table-card-padding: 24px !default;
    $dynamic-table-cell-top: $dynamic-table-card-padding / 2;
    $dynamic-table-drag-border: 1px dashed rgb(68, 138, 255);

    dynamic-table-widget .adf-label {
        width: auto;
        height: auto;
    }

    .adf {

        &-dynamic-table-scrolling {
            overflow: auto;
        }

        &-dynamic-table {
            width: 100%;
            position: relative;
            border: $dynamic-table-dividers;
            white-space: nowrap;
            font-size: $dynamic-table-font-size;

            /* Firefox fixes */
            border-collapse: unset;
            border-spacing: 0;

            thead {
                padding-bottom: 3px;
            }

            tbody {
                tr {
                    position: relative;
                    height: $dynamic-table-row-height;
                    @include material-animation-default(0.28s);
                    transition-property: background-color;

                    &:hover {
                        background-color: $dynamic-table-hover-color;
                    }

                    &.adf-is-selected, &.adf-is-selected:hover {
                        background-color: $dynamic-table-selection-color;
                    }

                    &:focus {
                        outline-offset: -1px;
                        outline-width: 1px;
                        outline-color: rgb(68, 138, 255);
                        outline-style: solid;
                    }
                }
            }

            td, th {
                padding: 0 $dynamic-table-column-padding 12px $dynamic-table-column-padding;
                text-align: center;

                &:first-of-type {
                    padding-left: 24px;
                }

                &:last-of-type {
                    padding-right: 24px;
                }
            }

            td {
                color: mat-color($foreground, text);
                position: relative;
                vertical-align: middle;
                height: $dynamic-table-row-height;
                border-top: $dynamic-table-dividers;
                border-bottom: $dynamic-table-dividers;
                padding-top: $dynamic-table-cell-top;
                box-sizing: border-box;

                @include adf-no-select;
                cursor: default;
            }

            th {
                @include adf-no-select;
                cursor: pointer;
                position: relative;
                vertical-align: bottom;
                text-overflow: ellipsis;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0;
                height: $dynamic-table-row-height;
                font-size: $dynamic-table-header-font-size;
                color: $dynamic-table-header-color;
                padding-bottom: 8px;
                box-sizing: border-box;

                &.adf-sortable {
                    @include adf-no-select;
                    &:hover {
                        cursor: pointer;
                    }
                }

                &.adf-dynamic-table__header--sorted-asc,
                &.adf-dynamic-table__header--sorted-desc {
                    color: $dynamic-table-header-sorted-color;
                    &::before {
                        @include typo-icon;
                        font-size: $dynamic-table-header-sort-icon-size;
                        content: '\e5d8';
                        margin-right: 5px;
                        vertical-align: sub;
                    }
                    &:hover {
                        cursor: pointer;
                        &::before {
                            color: $dynamic-table-header-sorted-icon-hover-color;
                        }
                    }
                }
                &.adf-dynamic-table__header--sorted-desc::before {
                    content: '\e5db';
                }
            }

            .adf-dynamic-table-cell {
                text-align: left;
                cursor: default;

                &--text {
                    text-align: left;
                }

                &--number {
                    text-align: right;
                }

                &--image {
                    text-align: left;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .adf-full-width {
                width: 100%;
            }
        }
    }
}


@mixin adf-hyperlink-widget-theme($theme) {
    $primary: map-get($theme, primary);

    .adf-hyperlink-widget {
        padding: 0.4375em 0;
        border-top: 0.84375em solid transparent;

        a {
            color: mat-color($primary);
        }
    }
}

@mixin adf-form-people-widget-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .adf {

        &-people-widget {
            width: 100%;

            .mat-form-field-label-wrapper {
                top: 10px;
            }
        }

        &-people-widget-list {
            margin: 5px 0;
            padding: 10px 0;
        }

        &-people-widget-row {
            display: flex;
            align-items: center;
        }

        &-people-widget-pic {
            background: mat-color($primary);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            color: mat-color($foreground, text);
            font-weight: bolder;
            font-size: 18px;
            text-transform: uppercase;
        }

        &-people-widget-image {
            margin-left: -44px;
            left: 21px;
            background: mat-color($background, dialog);
            border-radius: 100px;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            display: inline-block;
            padding: 0;
        }

        &-people-widget-image-row {
            display: inline-block;
        }

        &-people-label-name {
            padding-left: 10px;
        }
    }
}

@mixin adf-info-drawer-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $adf-info-drawer-layout-background-color: mat-color($background, background) !default;
    $adf-info-drawer-layout-title-color: mat-color($foreground, text, 0.54) !default;
    $adf-info-drawer-layout-title-font-size: 20px !default;
    $adf-info-drawer-icon-size: 48px !default;

    .adf {
        &-info-drawer {
            @include flex-column;
        }

        &-info-drawer-layout {
            @include flex-column;
            overflow: auto;
            width: 100%;
            background-color: $adf-info-drawer-layout-background-color;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);

            & .mat-tab-label {
                font-weight: bold;
                text-align: left;
                color: mat-color($primary);
                text-transform: uppercase;
            }

            &-header {
                padding: 13px 0 0 23px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;

                &-buttons {
                    padding-right:18px;
                    mat-icon {
                        cursor: pointer;
                    }
                }

                &-title {
                    width: 197px;
                    height: 32px;
                    font-size: $adf-info-drawer-layout-title-font-size;
                    line-height: 1.6;
                    letter-spacing: -0.5px;
                    text-align: left;
                    color: $adf-info-drawer-layout-title-color;

                    & > div {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }

            &-content {
                padding: 10px;

                > * {
                    margin-bottom: 20px;
                    display: block;
                }

                > *:last-child {
                    margin-bottom: 0;
                }

                .adf-info-drawer-tabs .mat-tab-body-content {
                    .adf-manage-versions-empty,
                    .adf-manage-versions-no-permission {
                        margin: 0;
                        padding: $adf-info-drawer-icon-size/2;
                        color: mat-color($foreground, text, 0.54);
                        text-align: center;
                        display: flex;
                        flex-direction: column;

                        &-icon {
                            width: $adf-info-drawer-icon-size;
                            height: $adf-info-drawer-icon-size;
                            font-size: $adf-info-drawer-icon-size;
                            margin: 0 auto $adf-info-drawer-icon-size/2;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@mixin adf-login-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $text-color-primary: mat-color($foreground, text);

    .adf-login {
        @include flex-column;
    }

    .adf-login-content {
        background-size: cover;
        background-position: center;
        min-height: 100%;
        min-width: 320px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        // IE11 vertical centering
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            & {
                display: table;
                width: 100%;
                height: 100%;
            }
        }

        .adf-ie11FixerParent {
            margin-top: 16px;
            min-width: 320px;

            // IE11 vertical centering
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding-top: 16px;
            }
        }

        // IE11 vertical centering
        .adf-ie11FixerChild {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .adf-show {
            display: block !important;
        }

        .adf-hide {
            display: none !important;
        }

        .adf-icon-inline {
            position: absolute;
            display: block;
            top: 31%;
            left: 82%;
            width: 30px;
            overflow: hidden;
        }

        .adf-login-card-wide {
            border-radius: 8px;
            background-color: mat-color($background, dialog);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            width: 450px;
            min-width: 320px;
            padding: 21px 64px 34px;
            box-sizing: border-box;
        }

        @media (max-width: 482px) {
            .adf-login-card-wide {
                width: calc(100% - 32px);
            }
        }

        .adf-error-container {
            height: 45px;
        }

        .adf-error-message {
            display: flex;
            box-orient: horizontal;
            flex-direction: row;
            justify-content: flex-start;

            color: mat-color($warn);
            padding: 0;
            margin-bottom: 4px;
            font-size: 13px;
        }

        .adf-error-message .adf-error-icon {
            margin-right: 10px;
        }

        .mat-card-header-text {
            margin: 0 auto;
        }

        .adf-img-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .adf-alfresco-logo {
            padding: 24px 16px;
        }

        .adf-alfresco-logo img {
            max-height: 58px;
        }

        .adf-login-button {
            width: 100%;
            height: 36px;
            line-height: 38px;
            box-shadow: none;
        }

        .adf-login-button-label {
            color: rgb(255, 255, 255);
        }

        .adf-login-button.adf-isChecking {
            background-color: #e0f7fa;
        }

        .adf-login-button.adf-isChecking .adf-login-button-label {
            color: #00bcd4;
        }

        .adf-login-button.adf-isWelcome {
            background-color: #00bcd4;
            color: #ffffff;
        }

        .adf-login-button.adf-isWelcome .adf-welcome-icon {
            margin: 5px 0 0 10px;
        }

        .adf-interactive-login-label {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            box-orient: horizontal;
            flex-direction: row;

            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            justify-content: center;
        }

        .adf-login-spinner-container {
            margin-left: 15px;
            margin-top: 5px;
        }

        .adf-login-checking-spinner > svg > circle {
            stroke-width: 16% !important;

        }

        .adf-login-controls {
            padding: 0 0 26px;
            overflow: visible;
            width: 100%;
        }

        .adf-login-action {
            margin-top: 20px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            box-orient: horizontal;
            flex-direction: row;

            -webkit-box-pack: space-between;
            -moz-box-pack: space-between;
            box-pack: space-between;
            justify-content: space-between;
        }

        .adf-login-action-left a, .adf-login-action-right a {
            text-decoration: none;
        }

        .adf-is-active {
            background-color: transparent;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.33;
            color: mat-color($warn);
        }

        .adf-copyright {
            min-width: 320px;
            text-align: center;
            padding: 16px 0;
            font-size: 12px;
            opacity: 0.54;
        }

        .mat-form-field .adf-login-password-icon.mat-icon {
            color: $text-color-primary;
        }

        .adf-login__field .mat-form-field-wrapper {
            margin: 1em 0 0;
            font-size: 16px;
        }

        .adf-login__field input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px mat-color($background, dialog) inset;
            -webkit-text-fill-color: $text-color-primary !important;
        }

        .adf-login-validation {
            background-color: transparent;
            color: mat-color($warn);
            font-size: 12px;
        }

        .adf-login-error {
            color: mat-color($warn);
            position: absolute;
            font-size: 12px;
            margin-top: -12px;
            display: block;
        }

        .adf-full-width {
            width: 100%;
        }

        .adf-login__remember-me {
            padding-top: 22px;
        }

        .adf-login__remember-me .mat-checkbox-label {
            opacity: 0.87;
        }

        .adf-login__field {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 18px;
        }

        .adf-login-remember-me {
            color: $text-color-primary !important;
        }

        .adf-login-action-container {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 23px;
        }
    }
}

@mixin adf-pagination-theme($theme) {
    $foreground: map-get($theme, foreground);

    $adf-pagination--height: 48px !default;
    $adf-pagination--icon-button-size: 32px !default;
    $adf-pagination--border: none !default;
    $adf-pagination__empty--height: 48px !default;
    $adf-pagination__empty--border: none !default;

    .adf-pagination {
        display: flex;
        border-top: $adf-pagination--border;
        height: $adf-pagination--height;
        line-height: 20px;
        color: mat-color($foreground, text);

        &__block {
            display: flex;
            align-items: center;
            padding: 0 8px;
            border-right: $adf-pagination--border;

            &:first-child {
                flex: 1 1 auto;
                padding-left: 24px;
            }

            &:last-child {
                border-right-width: 0;
            }
        }

        @include layout-bp(lt-sm) {
            & {
                flex-wrap: wrap;
                padding: 0 16px;
                justify-content: space-between;
            }

            &__range-block,
            &__perpage-block {
                display: none;
            }

            &__actualinfo-block {
                border-right: none;
            }

            &__controls-block {
                padding-right: 0;
            }
        }

        &__max-items {
            margin-left: 10px;
        }

        &__max-items, &__current-page {
            margin-right: 5px;

            &, & + button {
                color: mat-color($foreground, text);
            }

            & + button {
                margin-left: -10px;
            }
        }

        &__previous-button, &__next-button {
            margin: 0 5px;
        }

        &__page-selector {
            max-height: 250px !important;
        }

        &.adf-pagination__empty {
            border-top: $adf-pagination__empty--border;
            height: $adf-pagination__empty--height;
        }

        button[mat-icon-button] {
            width: $adf-pagination--icon-button-size;
            height: $adf-pagination--icon-button-size;
            line-height: $adf-pagination--icon-button-size;
        }
    }
}

@mixin adf-host-settings-theme($theme) {

    .adf-host-settings {
        display: flex;
        height: 100%;
        align-items: center;

        .adf-authentication-type {
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .adf-setting-container {
            width: 800px;
            display: table;
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .adf-setting-card-padding {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
            margin: 0;
        }

        .adf-settings-link-icon {
            position: relative;
            top: 6px;
            margin-right: 10px;
        }

        .adf-settings-actions {
            display: flex;
            justify-content: flex-end;
        }

        .adf-full-width {
            width: 100%;
        }
    }

}

@mixin adf-toolbar-theme($theme) {
    $foreground: map-get($theme, foreground);
    $adf-toolbar-height: 48px !default;
    $adf-toolbar-single-row-height: 64px !default;
    $adf-toolbar-font-size: 14px !default;
    $adf-toolbar-padding: 16px !default;
    $adf-toolbar-icon-color: mat-color($foreground, text, 0.54) !default;

    .adf-toolbar {
        &--spacer {
            flex: 1 1 auto;
        }

        &-title {
            overflow: hidden;
            display: flex;
            width: 100%;
        }

        .mat-toolbar {
            min-height: $adf-toolbar-height;
            border: 1px solid mat-color($foreground, text, 0.07);
            color: $adf-toolbar-icon-color;
        }

        .mat-toolbar-row {
            height: $adf-toolbar-height;
            font-size: $adf-toolbar-font-size;
            white-space: normal;
        }

        .mat-toolbar-single-row {
            padding: 0 $adf-toolbar-padding;
            height: $adf-toolbar-single-row-height;
        }

        &.adf-toolbar--inline {
            .mat-toolbar {
                background-color: inherit;
                border: none !important;
                padding: 0;
            }
        }
    }
}

@mixin adf-userinfo-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);

    .adf {

        &-userinfo-container {
            display: flex;
            align-items: center;
            padding: 0 5px;
        }

        &-userinfo-name-right {
            flex-direction: row-reverse;
        }

        &-userinfo-name {
            padding: 0 5px;
        }

        &-userinfo-pic {
            background: mat-color($primary, 300);
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            text-align: center;
            font-weight: bolder;
            font-size: 18px;
            text-transform: uppercase;
            vertical-align: middle;
            line-height: 40px;
        }

        &-userinfo-profile-image {
            background: mat-color($primary, 300);
            text-align: center;
            border-radius: 90%;
            width: 40px;
            height: 40px;
            margin-right: 0;
            cursor: pointer;
            vertical-align: middle;
            margin-left: 0;
        }

        &-userinfo-profile-container {
            display: inline-block;
        }

        &-userinfo-menu_button.mat-button {
            margin-right: 0;
            border-radius: 90%;
            padding: 0;
            min-width: 40px;
            height: 40px;
        }

        &-userinfo-tab .mat-tab-header {
            align-self: center;
            width: 100%;
            min-width: 250px;
        }

        &-userinfo-tab .mat-tab-label {
            flex: auto;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 48px;
            text-align: center;
        }

        &-userinfo-card-header {
            align-items: center;
            display: flex;
            justify-content: stretch;
            line-height: normal;
            height: 100px;
            box-sizing: border-box;
        }

        &-userinfo-card.mat-card {
            padding: 0;
        }

        &-userinfo-supporting-text {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 18px;
            overflow: hidden;
            padding: 32px;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            display: flex;
            justify-content: space-between;

            @media screen and ($mat-xsmall) {
                padding: 10px;
            }
        }

        &-userinfo-title {
            font-size: 21px;
        }

        &-userinfo__detail-profile {
            align-items: flex-start;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 18px;
            display: block;
            padding: 0;
            margin: 0;
        }

        &-userinfo__detail-title {
            text-overflow: ellipsis;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.04em;
            line-height: 20px;
            align-items: flex-start;
        }

        &-userinfo__secondary-info {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 18px;
            align-items: flex-end;
        }

        &-userinfo-profile-picture {
            background: mat-color($primary, 300);
            background-size: cover;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            margin-left: 0;
            margin-right: 8px;
        }

        &-userinfo-profile-initials {
            text-transform: uppercase;
            background-size: cover;
            background: mat-color($primary, 300);
            border-radius: 50%;
            height: 80px;
            width: 80px;
            margin-left: 0;
            margin-right: 8px;
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 78px;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
        }

        &-userinfo-button-profile {
            display: inline-block;
            border: 0;
            vertical-align: middle;
        }

        &-userinfo-detail {
            text-align: left;
        }

        &-hide-tab .mat-tab-label-active {
            display: none !important;
        }

    }

    @media only screen and (min-device-width: 480px) {
        .mat-menu-panel.adf-userinfo-menu {
            max-height: 450px;
            min-width: 450px;
            overflow: auto;
            padding: 0;
        }
    }

    .mat-menu-panel.adf-userinfo-menu .mat-menu-content {
        padding: 0;
    }
}


@mixin adf-viewer-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $adf-viewer-background-color: mat-color($background, card);

    .adf-full-screen {
        width: 100%;
        height: 100%;
        background-color: $adf-viewer-background-color;
    }

    .adf-viewer {

        position: absolute;
        width: 100%;
        height: 100%;

        .mat-toolbar {
            color: mat-color($foreground, text, 0.54);

            .adf-toolbar-title {
                width: auto;
            }
        }

        &-main {
            width: 0;
        }

        &__mimeicon {
            vertical-align: middle;
            height: 18px;
            width: 18px;
        }

        &-toolbar {
            .mat-toolbar {
                background-color: mat-color($background, card, 0.87);
            }
        }

        &__file-title {
            text-align: center;
        }

        &__display-name {
            font-size: 16px;
            opacity: 0.87;
            line-height: 1.5;
            letter-spacing: -0.4px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;

            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            color: mat-color($foreground, text);
        }

        &-container {
            .adf-viewer-layout-content {
                @extend .adf-full-screen;
                position: relative;
                overflow-y: hidden;
                overflow-x: hidden;
                z-index: 1;
                background-color: mat-color($background, background);

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex: 1;

                & > div {
                    display: flex;
                    flex-flow: row wrap;
                    margin: 0 auto;
                    align-items: stretch;
                    height: 100%;
                }
            }

            .adf-viewer-layout {
                @extend .adf-full-screen;

                display: flex;
                flex-direction: row;
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
            }

            .adf-viewer-content {
                @extend .adf-full-screen;
                flex: 1;

                & > div {
                    height: 0; // Firefox
                }
            }
        }

        &-overlay-container {
            .adf-viewer-content {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
            }
        }

        &-inline-container {
            @extend .adf-full-screen;
        }

        &-content-container {
            display: flex;
            justify-content: center;
        }

        &-custom-content {
            width: 100vw;
        }

        &-unknown-content {
            align-items: center;
            display: flex;
        }

        &__loading-screen {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 85vh;

            .mat-spinner {
                margin: 0 auto;
            }
        }

        &__sidebar {
            width: 350px;
            display: block;
            padding: 0;
            background-color: mat-color($background, background);
            box-shadow: 0 2px 4px 0 mat-color($foreground, text, 0.27);
            overflow: auto;

            &__right {
                border-left: 1px solid mat-color($foreground, text, 0.07);
            }

            &__left {
                border-right: 1px solid mat-color($foreground, text, 0.07);
            }
        }

        &__thumbnails {
            width: 180px;
            display: flex;
            flex-direction: column;
            padding: 0;
            background: #e6e6e6;

            .adf-info-drawer-layout {
                display: flex;
                flex-direction: column;
                flex: 1;
                background: #e6e6e6;
            }

            .adf-info-drawer-layout-header {
                margin-bottom: 0;
            }

            .adf-info-drawer-layout-content {
                padding: 0;
                height: 100%;
                overflow: hidden;
            }

            .adf-info-drawer-content {
                height: 100%;
            }

            .adf-info-drawer-layout-content > *:last-child {
                height: 100%;
                overflow: hidden;
            }
        }

        &__toolbar {
            &-page-scale {
                cursor: default;
                width: 79px;
                height: 24px;
                font-size: 14px;
                border: 1px solid mat-color($foreground, text, 0.07);
                text-align: center;
                line-height: 24px;
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
}

@mixin adf-pdf-viewer-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .adf-viewer-content-container {
        width: 100%;
    }

    .adf-pdf-viewer {
        width: 100%;
        margin: 0;

        .adf-loader-container {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
            -webkit-box-flex-direction: row;
            -moz-box-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            height:100%;
        }

        &__thumbnails {
            position: relative;
            height: 100%;
            width: 190px;
            background-color: rgba(0, 0, 0, 0.12);
        }

        .adf-thumbnails-template {
            &__container {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            &__buttons {
                height: 45px;
                justify-content: flex-end;
                align-items: flex-end;
                display: flex;
                color: mat-color($foreground, text, 0.54);
            }
        }

        &__container {
            display: flex;
 height: 100%;
        }

        &__content {
            flex: 1 1 auto;
 position: relative;
        }

        .adf-loader-item {
            margin: auto;
            max-height:100px;
            max-width:300px;
        }

        &__toolbar {
            position: absolute;
            bottom: 5px;

            left: 50%;
            transform: translateX(-50%);

            .adf-toolbar .mat-toolbar {
                max-height: 48px;
                background-color: mat-color($background, card);
                border-width: 0;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            }

            &-page-selector {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px;

                & > input {
                    border: 1px solid mat-color($foreground, text, 0.07);
                    background-color: mat-color($background, card);
                    color: inherit;
                    font-size: 14px;
                    padding: 0;
                    height: 24px;
                    line-height: 24px;
                    text-align: right;
                    width: 33px;
                    margin-right: 4px;
                    outline-width: 1px;
                    outline-color: gray;
                }
            }
        }
    }
}

@mixin adf-pdf-thumbnails-theme($theme) {
    $background: map-get($theme, background);

    .adf-pdf-thumbnails {
        display: block;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        position: relative;

        &__content {
            top: 5px;
            left: 50%;
            height: 0;
            position: absolute;
        }

        &__thumb {
            cursor: pointer;
            display: block;
            width: 91px;
            background: mat-color($background, background);
            margin-bottom: 15px;
        }

        &__thumb:hover {
            box-shadow: 0 0 5px 0 $black-87-opacity;
        }

        &__thumb--selected:not(:hover) {
            box-shadow: 0 0 5px 0 $black-87-opacity;
        }
    }
}

@mixin adf-text-viewer-theme($theme) {
    $background: map-get($theme, background);

    .adf-txt-viewer {
        background-color: mat-color($background, background);
        overflow: hidden;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }
}

@mixin adf-image-viewer-theme($theme) {
    $background: map-get($theme, background);

    .adf-image-viewer {
        .adf-image-container {
            display: flex;
            flex: 1;
            text-align: center;
            flex-direction: row;
            justify-content: center;
            height: 90vh;
            img {
                width: 100%;
                object-fit: contain;
            }
            /* query for Microsoft IE 11*/
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                img {
                    height: 100%;
                }
            }
        }

        &__toolbar {
            position: absolute;
            bottom: 5px;

            left: 50%;
            transform: translateX(-50%);

            .adf-toolbar .mat-toolbar {
                max-height: 48px;
                background-color: mat-color($background, card);
                border-width: 0;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            }

        }
    }
}

@mixin adf-form-renderer-theme($theme) {

    $config: mat-typography-config();
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);

    .adf {
        &-form-container {
            max-width: 100% !important;
            max-height: 100% !important;

            & .mat-card {
                padding: 16px 24px;
                overflow: hidden;
            }

            & .mat-card-header-text {
                margin: 0 !important;
            }

            & .mat-tab-body-content {
                overflow: hidden;
            }

            & .mat-tab-label {
                font-size: mat-font-size($config, subheading-2);
                line-height: mat-line-height($config, headline);
                letter-spacing: -0.4px;
                text-align: left;
                color: rgba(0, 0, 0, 0.54);
                text-transform: uppercase;
            }

            & .mat-ink-bar {
                height: 4px;
            }

            & .mat-form-field-wrapper {
                margin: 0 12px 0 0;
            }
        }

        &-form-title {
            font-size: mat-font-size($alfresco-typography, title);
        }

        &-form-debug-container {
            padding: 10px;
        }

        &-form-debug-container .adf-debug-toggle-text {
            padding-left: 15px;
            cursor: pointer;
        }

        &-form-debug-container .adf-debug-toggle-text:hover {
            font-weight: bold;
        }

        &-form-reload-button {
            position: absolute;
            right: 12px;
            top: 30px;
        }

        &-form-validation-button {
            position: absolute;
            right: 50px;
            top: 39px;
            color: mat-color($accent);

            & .adf-invalid-color {
                color: mat-color($warn);
             }
        }

        &-form-hide-button {
            display: none !important;
        }

        &-task-title {
            text-align: center;
        }

        &-label {
            width: 32px;
            height: 16px;
            font-size: mat-font-size($config, caption);
            line-height: mat-line-height($config, headline);
            text-align: left;
            white-space: nowrap;
        }

        &-form-mat-card-actions {
            float: right;
            padding-bottom: 25px !important;
            padding-right: 25px !important;

            & .mat-button {
                height: 36px;
                border-radius: 5px;

            }

            & .mat-button-wrapper {
                width: 58px;
                height: 20px;
                opacity: 0.54;
                font-size: mat-font-size($config, body-2);
                font-weight: bold;
            }
        }
    }

    form-field {
        width: 100%;

        .mat-input-element {
            font-size: mat-font-size($config, body-2);
            padding-top: 8px;
            line-height: normal;
        }
    }

}

@mixin  adf-sidebar-action-menu-theme($theme) {

    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    $adf-sidebar-action-menu-button-height: 37.5px;
    $adf-sidebar-action-menu-button-border-radius: 4px;
    $adf-sidebar-action-menu-opacity: 0.54;
    $adf-sidebar-action-menu-item-opacity: 0.87;
    $adf-sidebar-action-menu-item-line-spacing: -0.4px;
    $adf-sidebar-action-menu-item-font-size: 14px;

    .adf {
        &-sidebar-action-menu {
            & .mat-raised-button {
                width: 100%;
                display: block;
                box-shadow: none !important;
                height: $adf-sidebar-action-menu-button-height;
                font-weight: bold;
                background-color: mat-color($primary);
                color: mat-color($primary, default-contrast) !important;
                border-radius: $adf-sidebar-action-menu-button-border-radius;
                & mat-icon {
                    width: 24px;
                    height: 25px;
                    color: mat-color($primary, default-contrast) !important;
                }
            }
            &-text {
                width: 100%;
                height: 20px;
                text-align: left;
            }
        }
        &-sidebar-action-menu-icon {
            margin: 18px 0 0 20px;
            color: mat-color($foreground, text, $adf-sidebar-action-menu-opacity);
            cursor: pointer;
            &:hover {
                color: mat-color($primary);
            }
        }
        &-sidebar-action-menu-options {
            text-align: left;
            letter-spacing: $adf-sidebar-action-menu-item-line-spacing;
            .mat-menu-item {
                font-size: $adf-sidebar-action-menu-item-font-size;
                color: mat-color($foreground, text, $adf-sidebar-action-menu-item-opacity);
                text-align: left;
                line-height: 1.5;
                letter-spacing: $adf-sidebar-action-menu-item-line-spacing;
            }
            .mat-menu-item:hover {
                color: mat-color($primary);
                opacity: inherit;
            }
        }
        &-sidebar-action-menu-panel {
            margin-top: 7.5px;
            border-radius: 2px;

            @include mat-elevation(2);
        }
    }
}

@mixin  adf-header-layout-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    adf-layout-header .mat-toolbar-single-row {

        color: mat-color($primary, default-contrast) !important;
        position: relative;
        padding: 0 24px;

        .adf-menu-icon {
            position: relative;
            margin-right: 0;

            .mat-icon {
                font-size: 29px;
                padding: 0 5px 0 0;
            }
        }

        .adf-app-logo {
            position: relative;
            height: 28px;
            width: 28px;
            vertical-align: middle;
            margin-top: -3px;
        }

        .adf-app-title {
            cursor: pointer;
            outline: none;
            letter-spacing: -0.3px;
            font-weight: 100;
        }

        .adf-toolbar-divider {
            margin: 0 5px;

            & > div {
                background-color: mat-color($background, card, 1);
            }
        }

        .adf-header-delimiter {
            height: 24px;
            width: 2px;
            background-color: mat-color($primary, default-contrast);
        }

        .adf-userinfo-container {
            flex-direction: row;
            padding: 0;
        }

        @media screen and ($mat-xsmall) {
            .adf-app-logo,
            .adf-app-title {
                display: none;
            }
        }
    }

    [dir='rtl'] adf-layout-header .mat-toolbar-single-row {
        .adf-menu-icon {
            margin-right: -11px;
        }

        .adf-app-logo {
            margin-right: 6px;
        }

        .adf-app-title {
            margin-right: 6px;
        }

        .adf-header-delimiter {
            margin-left: 16px;
        }

        .adf-userinfo-container {
            margin-left: 16px;
        }

        .adf-userinfo-name {
            padding-left: 8px;
        }
    }

    [dir='ltr'] adf-layout-header .mat-toolbar-single-row {
        .adf-menu-icon {
            margin-left: -11px;
        }

        .adf-app-logo {
            margin-left: 6px;
        }

        .adf-app-title {
            margin-left: 6px;
        }

        .adf-header-delimiter {
            margin-right: 16px;
        }

        .adf-userinfo-container {
            margin-right: 16px;
        }

        .adf-userinfo-name {
            padding-right: 8px;
        }
    }
}



@mixin adf-task-list-comment-list-theme($theme) {
    $primary: map-get($theme, primary);
    $primaryColor: mat-color($primary, 100);
    $rippleColor: mat-color($primary, 300);

    .adf-is-selected {
        background: mat-color($primary, 100);
    }

    .adf {

        &-comment-img-container {
            float: left;
            width: 40px;
            height: 100%;
            display: flex;
            align-self: flex-start;
            padding-top: 18px;
        }

        &-comment-list-item {
            /* stylelint-disable */
           white-space: initial;
           /* stylelint-enable */
           display: table-row-group;
           padding-top: 12px;
           overflow: hidden;
           height: 100% !important;
           transition: background 0.8s;
           background-position: center;

           &:hover {
            background: $primaryColor
            radial-gradient(circle, transparent 1%, $primaryColor 1%)
            center/15000%;
           }
           &:active {
            background-color: $rippleColor;
            background-size: 100%;
            transition: background 0s;
          }
        }

        &-comment-user-icon {
            padding: 10px 5px;
            width: 30px;
            background-color: mat-color($primary);
            border-radius: 50%;
            font-size: 16px;
            text-align: center;
            height: 20px;
            background-size: cover;
        }

        &-comment-user-name {
            float: left;
            width: calc(100% - 10%);
            padding: 2px 10px;
            font-weight: 600;
            font-size: 14px;
        }

        &-comment-message {
            float: left;
            width: calc(100% - 10px);
            padding: 2px 10px;
            font-style: italic;
            /* stylelint-disable */
            white-space: initial !important;
            /* stylelint-enable */
            font-size: 14px;
            letter-spacing: -0.2px;
            line-height: 1.43;
            opacity: 0.54;
        }

        &-comment-message-time {
            float: left;
            width: calc(100% - 10%);
            padding: 2px 10px;
            font-size: 12px !important;
            opacity: 0.54;
        }

        &-comment-contents {
            width: calc(100% - 10px);
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 5px;
        }

        &-people-img {
            border-radius: 90%;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

    }
}

@mixin adf-task-list-comment-theme($theme) {
    $foreground: map-get($theme, foreground);
    $header-border: 1px solid mat-color($foreground, divider);

    .adf-comments-container {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .adf-comments-header {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        border-bottom: $header-border;
    }

    .adf-comments-input-container {
        padding: 0 15px;
        width: calc(100% - 30px);
        padding-top: 8px;
        border-bottom: $header-border;

        textarea {
            resize: vertical;
        }
    }

    .adf-comments-input-actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .adf-full-width {
        width: 100%;
    }

    adf-comment-list {
        float: left;
        overflow: auto;
        height: calc(100% - 101px);
        width: 100%;
    }

}

@mixin adf-layout-container-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $adf-layout-container-height: 100% !default;

    adf-layout-container {
        display: block;
        width: 100%;
        height: $adf-layout-container-height;
        overflow: hidden;
    }

    .adf-container-full-width {
        width: inherit;
    }
    /* query for Microsoft IE 11*/
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        .adf-container-full-width {
            width: 100%;
        }
    }

    mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
        margin: 0!important;
    }

    .adf-sidenav--hidden {
        visibility: hidden !important;
        width: 0 !important;
        transform: unset !important;
        opacity: 0 !important;
    }

    .mat-sidenav-container {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .mat-sidenav {
        overflow: hidden;
        border-right: 1px solid mat-color($foreground, text, 0.07);
        background-color: mat-color($background, background);
    }

    mat-sidenav-content.mat-sidenav-content,
    .mat-drawer-transition .mat-drawer-content {
        margin-left: 0 !important;
        transform: unset !important;
        transition-property: unset !important;
        transition-duration: unset !important;
        transition-timing-function: unset !important;
    }

    mat-sidenav-content > div {
        display: flex;
        height: $adf-layout-container-height;

        > div {
            flex: auto;
        }
    }
}

@mixin adf-sidenav-layout-theme($theme) {
    $adf-sidenav-max: 300px !default;

    .adf-sidenav-layout {

        &-full-space {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            overflow: hidden;
            min-height: 0;
            width: 100%;
        }

        @include flex-column;
        width: 100%;

        .adf-layout__content {
            flex: 1 1 auto;
        }

        router-outlet {
            flex: 0 0;
        }

        @include layout-bp(lt-sm) {
            .mat-drawer {
                width: calc(-50px + 100vw) !important;
                max-width: $adf-sidenav-max !important;
            }
        }

        .mat-drawer-content {
            @include flex-column;
            position: unset;
            overflow: auto;
        }
    }

}

@mixin adf-empty-content-theme($theme) {

    $config: mat-typography-config();
    $foreground: map-get($theme, foreground);

    .adf-empty-content {
        color: mat-color($foreground, text, 0.54);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icon {
            font-size: mat-font-size($config, display-3);
            height: mat-font-size($config, display-3) !important;
            width: mat-font-size($config, display-3) !important;
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
            line-height: 0;
            white-space: normal;
            text-align: center;
            margin: 10px 0;
        }

        &__subtitle,
        &__text {
            font-size: 14px;
            font-weight: 300;
            line-height: inherit;
            white-space: normal;
            text-align: center;
        }
    }
}

@mixin adf-error-content-theme($theme) {

    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    .adf-error-content {
        color: mat-color($foreground, text, 0.54);
        display: flex;
        flex-direction: column;
        align-items: center;


        &-code {
            font-size: 110px;
            font-weight: 300;
            margin-top: 200px;
            margin-bottom: 45px;
        }

        &-shadow {
            width: 170px;
            height: 3px;
            opacity: 0.54;
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.39);
        }

        &-title {
            font-size: 46px;
            font-weight: normal;
            margin-top: 40px;
            margin-bottom: 10px;
        }

        &-description {
            font-size: 24px;
            font-weight: normal;
            text-align: center;
            width: 50%;
            min-width: 250px;
            margin-bottom: 60px;
            line-height: 30px;
        }

        &-buttons {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    }

    @media screen and ($mat-small) {
        .adf-error-content {

            &-code {
                margin-top: 100px;
                font-size: 50px;
                margin-bottom: 25px;
            }

            &-shadow {
                width: 100px;
            }

            &-title {
                font-size: 24px;
            }

            &-description {
                font-size: 17px;
            }
        }
    }
}

@mixin adf-buttons-menu-theme($theme) {

    .adf-buttons-menu {
        margin-right: 10px;

        & div {
            display: flex;
        }

        &-mobile {
            margin-right: 10px;
        }

        &-desktop {
            display: flex;

            button {
                color: black;
                padding: 0;
            }

            button > span {
                display: none;
            }

            button > mat-icon.mat-icon.material-icons {
                color: black;
                margin: 0 10px;
            }
        }
    }
}

@mixin adf-login-dialog-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $text-color-primary: mat-color($foreground, text);


    .adf-login-dialog-content adf-login .adf-login-content .adf-login-card-wide {
        padding: 0;
        box-shadow: none;
    }
}

@mixin adf-login-dialog-panel-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $text-color-primary: mat-color($foreground, text);

    .adf-panel-login-dialog-component .adf-login-content {
        .mat-card-actions,
        .adf-login-button,
        .adf-login__remember-me,
        .adf-copyright {
            display: none;
        }
    }

}

@mixin adf-clipboard-theme($theme) {
    $primary: map-get($theme, primary);
    $config: mat-typography-config();

    .adf-copy-tooltip {
        position: absolute;
        background: mat-color($primary);
        color: mat-color($primary, default-contrast) !important;
        font-size: mat-font-size($config, caption);
        padding: 2px 5px;
        border-radius: 5px;
        bottom: 93%;
        left:0;
        z-index: 1001;
        min-height: 20px;
    }

    .adf-sticky-header {
        .adf-copy-tooltip {
            top:85% !important;
            bottom:0 !important;
        }
    }
}

@mixin adf-snackbar-theme($theme) {
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .adf-error-snackbar {
      background-color: mat-color($warn);

      .mat-simple-snackbar-action {
        color: white;
      }
    }

    .adf-warning-snackbar {
      background-color: mat-color($accent);

      .mat-simple-snackbar-action {
        color: white;
      }
    }

    .adf-info-snackbar {
      background-color: mat-color($primary);

      .mat-simple-snackbar-action {
        color: white;
      }
    }
  }


@mixin adf-core-theme($theme) {
    @include adf-colors-theme($theme);
    @include adf-default-class-theme($theme);
    @include adf-card-view-module-theme($theme);
    @include adf-datatable-theme($theme);
    @include adf-form-container-widget-theme($theme);
    @include adf-dynamic-table-theme($theme);
    @include adf-form-theme($theme);
    @include adf-hyperlink-widget-theme($theme);
    @include adf-form-people-widget-theme($theme);
    @include adf-info-drawer-theme($theme);
    @include adf-login-theme($theme);
    @include adf-pagination-theme($theme);
    @include adf-host-settings-theme($theme);
    @include adf-toolbar-theme($theme);
    @include adf-userinfo-theme($theme);
    @include adf-viewer-theme($theme);
    @include adf-pdf-viewer-theme($theme);
    @include adf-pdf-thumbnails-theme($theme);
    @include adf-image-viewer-theme($theme);
    @include adf-text-viewer-theme($theme);
    @include adf-form-renderer-theme($theme);
    @include adf-sidebar-action-menu-theme($theme);
    @include adf-task-list-comment-list-theme($theme);
    @include adf-task-list-comment-theme($theme);
    @include adf-layout-container-theme($theme);
    @include adf-empty-content-theme($theme);
    @include adf-error-content-theme($theme);
    @include adf-buttons-menu-theme($theme);
    @include adf-header-layout-theme($theme);
    @include adf-login-dialog-theme($theme);
    @include adf-login-dialog-panel-theme($theme);
    @include adf-sidenav-layout-theme($theme);
    @include adf-clipboard-theme($theme);
    @include adf-snackbar-theme($theme);
}
